body{
    background: black;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

#id_logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

table{
    border: 39px solid black;
    width: 100%;
    text-align: center;
    border-collapse: separate;
    border-spacing: 10px 20px;
}

th{
    font-weight: bold;
    font-size: 36px;
}

td{
    border: thin solid #8C8CBC;
    background-color: #3A3A82;
    font-size: 24px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-box-shadow: 0px 0px 10px 5px #8C8CBC;
    -moz-box-shadow: 0px 0px 10px 5px #8C8CBC;
    box-shadow: 0px 0px 10px 5px #8C8CBC;
    border-radius: 10px;
}

p{
    color: white;
    font-family: Arial
}